<div >
	<p><a href="https://tailwindcss.com">Tailwind </a>CSS is broad set of utility classes which can be used to style any DOM  element. </p>
	<p>The concept is to provide granular control of element styling using a consistent set of class names which are then converted to
		actual CSS by the Tailwind compiler.
	</p>
	<p>The advantage of using utility classes includs </p>
	<ul class="list-disc list-inside">
		<li>Rapid prototyping of styles and appearance</li>
		<li>Mobile first responsive design</li>
		<li>Avoding media queries using simple prefixes (sm, md, lg, xl etc) to represent different screen breakpoints</li>
		<li>Locality of Behavior for setting element styling</li>
	</ul>
 <p>Using Tailwind can be as simple as including a script tag pointing to the Tailwind CDN></p>
 <p>For production, Tailwind should be installed in your node_modules folder via npm or other package manager and then configured
	by updating the properties of the tailwind.config.mjs file in your source folder
 </p>
 <p>Implementing Tailwind styling is as simple as adding class names to any html element.  Since the styling changes appear immediately in the resulting DOM, prototyping is quicker and more flexible than relying on independent CSS files that are not separted from the markup they control</p>
</div>

