<div>
	<p><a href="https://hyperscript.org/">Hyperscript</a> is a new client side language which adds functionality to web applications. </p>
  <p>Based on the popular <a href="https://en.wikipedia.org/wiki/HyperTalk">HyperTalk</a> language developed for Apple's <a href="https://hypercard.org/">HyperCard</a> application, <a href="https://hyperscript.org/">Hyperscript</a> combines an English-prose syntax with powerful event management.</p>
	<p>Advantages of using <a href="https://hyperscript.org/">Hyperscript</a> in the browser include</p>
	<ul class="list-disc list-inside">
		<li>Self documenting syntax with prose style readability</li>
		<li>Event listening built in by using simple 'on eventName' construct</li>
		<li>Custom events can be sent to, and listened for, by any DOM element</li>
		<li>Asynchronous calls and Promise resolution are handled behind the scenes for you</li>
		<li>Null safety automatically and silently handled</li>
	</ul>
	<p>Hyperscript can be used via CDN link in the document head tag.</p>	
</div>
