<div>
	<p>Hypermedia is an extension of the term hypertext which is a nonlinear medium of information that includes graphics, audio, and video linked together by hyperlinks.  active
	The term was first used by <a href="https://en.wikipedia.org/wiki/Ted_Nelson">Ted Nelson</a> in an article published in 1965. 
	</p>
	<p>The World Wide Web and Bill Atkinson's <a href="https://en.wikipedia.org/wiki/HyperCard">HyperCard</a> are popular examples of hypermedia.</p>
	<p>Hypermedia exchanges between server and client remove the need for a fixed API protocol since the client recieves display ready html containing hyperlinks which connect the user to other data sources</p>
	<p>Hypermedia is used as a medium and constraint permitting the server to provide the application state to the client avoiding discord in state between the server and client</p>
	<p>HATEOS (Hypermedia as the Engine of Application State) is a constaint of the REST application architecture whereby a client interacts with the server entirely through hypermedia exchanges.</p>
	<p>In theory this menas that no API documentation is needced because the client needs no prior knowledge of how to interact with any particular application or server beyond a generic ability to display hypermedia.</p>

</div>

