---
import {twMerge} from 'tailwind-merge'
 
interface Props {
	id:string
}
 
const {
 id 
} = Astro.props 
 
const tw = {
	container: 'not-content flex justify-left gap-1 ',
	output: 'block -translate-y-1 p-4 w-full h-[35rem] overflow-y-scroll ' +
	  'bg-slate-100 dark:bg-gray-900 border-2 border-slate-600 ',
}

 
const hs = ``
 
---
 
<div class={tw.container}
	hx-trigger="click"
	hx-target="next <output/>"
	hx-swap="innerHTML transition:true">
  <slot/>
</div>
<output class={tw.output} style="margin-top:0;"/>

