---
import {twMerge} from 'tailwind-merge'
 
interface Props {
	id:string
}
 
const {
 id 
} = Astro.props 
 
const tw = {
	container: 'tab-group not-content flex justify-left gap-1 ',
	output: 'block -translate-y-1 p-4 w-full h-[35rem] overflow-y-scroll ' +
	  'bg-slate-100 dark:bg-gray-900 border-2 border-slate-600 ',
}

 
const hs = 
`
on activateTab(tab)
	remove .bg-slate-300 from tab
	add .bg-orange-300 to tab
	send deactivateSiblings(activeTab:tab) to me
end 

on deactivateSiblings(activeTab)
 set tabs to my children
 for tab in tabs
   if tab is not activeTab
		remove .bg-orange-300 from tab
		add .bg-slate-300 to tab
   end
end

`
 
---
 
<div class={tw.container}
	hx-trigger="click"
	hx-target="next <output/>"
	hx-swap="innerHTML transition:true"
	script={hs}>
  <slot/>
</div>
<output class={tw.output} style="margin-top:0;"/>

