---

import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import DropdownMenu from '../components/DropdownMenu.astro';

const title = "Dropdown Menus"

---

<StarlightPage frontmatter={{ title: title }}>

	<h2>A Dropdown Menu activated by a single click</h2>

</StarlightPage>

