---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import Modal from '../components/dialogs/modal.astro'
import { twMerge } from 'tailwind-merge'
const title = 'Modal Test'

const tw = {
	wrapper: 'not-content',
	button: 'p-3 text-lg bg-blue-500 text-zinc-100 rounded-xl cursor-pointer'
}

const hs = `
 
 init
	set :modal to #{'test-modal'}
 end -- init

 on click
	call  :modal.showModal()
 end
 
 on dialogResult(event)
  set result to event.detail.result  -- destructuring is not working !!
	if result is  'Cancel' then call :modal.close()
 end

 on keydown[key=='Escape']
  call :modal.close()
 end

`

const doConfirm = `
	on click log 'From Callback'
		send dialogResult(result:'Ok') to <button#show-modal/>
	end
`
const doCancel = `
	on click log 'From Callback'
		send dialogResult(result:'Cancel') to <button#show-modal/>
	end
`
---

<StarlightPage frontmatter={{title: title}}>


<button id="show-modal" class={tw.button} script={hs}> Show Modal</button>


 <Modal id="test-modal" confirm={doConfirm} cancel={doCancel}>


</StarlightPage>