---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import Modal from '../components/dialogs/modal.astro'
import { twMerge } from 'tailwind-merge'
const title = 'Modal Test'

const tw = {
	wrapper: 'not-content',
	button: 'p-3 text-lg bg-blue-500 text-zinc-100 rounded-xl cursor-pointer'
}

const hs = `
 
 init
	set :modal to #{'test-modal'}
 end -- init

 on click
	remove .hidden from :modal

 end
 
 on dialogResult(event)
  set result to event.detail.result  -- destructuring is not working !!
	if result is  'Cancel' then trigger closeModal on me
 end

 on keydown[key=='Escape']
	trigger closeModal on me
 end

 on closeModal
  add .hidden to :modal
 end  -- closeModal

`

const doConfirm = `
	on click log 'From Callback'
		send dialogResult(result:'Ok') to <button#show-modal/>
	end
`
const doCancel = `
	on click log 'From Callback'
		send dialogResult(result:'Cancel') to <button#show-modal/>
	end
`
---

<script src="https://unpkg.com/hyperscript.org@0.9.12" defer></script>
<script src="https://cdn.tailwindcss.com" defer></script>

<button id="show-modal" class={tw.button} script={hs}> Show Modal</button>

<div>
	<p>Some random text</p>
</div>


 <Modal id="test-modal" confirm={doConfirm} cancel={doCancel}>


