---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import Modal from '../components/dialogs/modal.astro'
import { twMerge } from 'tailwind-merge'
const title = 'Modal Test'

const tw = {
	wrapper: 'not-content',
	button: 'p-3 text-lg bg-blue-500 text-zinc-100 rounded-xl cursor-pointer'
}

const hs = `
 on click
  set modal to #{'test-modal'}
	call  modal.showModal()
	end
 
 on dialogResult(result)
  log event.detail.result  -- Ok
 end

`

const callback = `
	on click log 'From Callback'
	send dialogResult(result:'Ok') to <button#show-modal/>
	end
`
---

<StarlightPage frontmatter={{title: title}}>


<button id="show-modal" class={tw.button} script={hs}> Show Modal</button>


 <Modal id="test-modal" callback={callback}/>


</StarlightPage>