---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import ReadMoreItem_B from '../components/ReadMoreItem_B.astro'
const title = "Testing API"


---

<StarlightPage frontmatter={{title}}>
<ul>
	<ReadMoreItem_B id="0" route="api/readmore" >
		<h3>Hypermedia</h3>
		<p>HTML as a response to API requests</p>
		<p>Why are most API calls returing JSON when the browser is optimized to process HTML?</p>
	</ReadMoreItem_B>
	<ReadMoreItem_B id="1"route="api/readmore" >
		<h3>HTMX</h3>
		<p>Adding functionality to any HTML element</p>
		<p>Can any element issue requests and update the DOM?</p>
	</ReadMoreItem_B>
	<ReadMoreItem_B id="2" route="api/readmore">
		<h3>Tailwind CSS</h3>
		<p>Respnsive, mobile first styling</p>
		<p>A defined set of utility classes makes it easier to prototype user interfaces.</p>
	</ReadMoreItem_B>
	<ReadMoreItem_B id="3" route="api/readmore">
		<h3>HyperScript</h3>
		<p>New client side scripting language</p>
		<p>Add client side functionality with an easy to learn English-prose syntax patterned after Hypertalk</p>
	</ReadMoreItem_B>
	<ReadMoreItem_B id="4" route="api/readmore">
		<h3>Astro</h3>
		<p>Fast, robust Vite-based build tool featuring static and server rendered pages</p>
		<p>Utilize an island architecture to selectively hydrate content on the client side.</p>
	</ReadMoreItem_B>
</ul>


</StarlightPage>

