---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import Searchbox from '../components/search/searchbox.astro'

import { twMerge } from 'tailwind-merge'
const title = 'Test Search'

const tw = {
	wrapper: 'not-content w-full bg-transparent dark:bg-gray-700 py-4 ',
	table:'mx-auto my-4 max-w-max border-2 border-gray-200 dark:border-red-800',
	output: 'not-content block w-10/12 mx-auto overflow-y-auto ' +
	'dark:bg-gray-600 ' + 
	'mt-4 p-4 border-2 border-red-200 dark:border-blue-800'
}	


---

<StarlightPage frontmatter={{title: title}}>
	
<div class={tw.wrapper}}>

	<Searchbox />

</div>

	<h3>A Sampling of Famous Speeches in the English Language</h3>
	<h4>Select a Speech</h4>
	<p>After loading the speech text, you can used the search control to find words within the speech text.
	</p>




	<table class={tw.table}
				hx-trigger="load"  
				 hx-get="/api/speeches/"
	       hx-target="<tbody/>"
	       hx-swap="innerHTML">
		<thead>
			<tr>
				<th>Speaker</th>
				<th>Title</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody> 	
		</tbody>
	</table>

	<output id="speech-transcript" class={tw.output}>

	</output>



</StarlightPage>

