---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import Searchbox from '../components/search/searchbox.astro'

import { twMerge } from 'tailwind-merge'
const title = 'Test Search'

const tw = {
	wrapper: 'not-content w-full bg-transparent dark:bg-gray-700 py-4',
	output: 'not-content w-full mt-4bg-transparent dark:bg-gray-700 py-4'
}

---

<StarlightPage frontmatter={{title: title}}>
	
<div class={tw.wrapper}}>

	<Searchbox />

</div>

	<h3>A Sampling of Famous Speeches in the English Language</h3>
	<h4>Select a Speech</h4>
	<p>After loading the speech text, you can used the search control to find words within the speech text.
	</p>




	<table 
				hx-trigger="load"  
				 hx-get="/api/speeches/"
	       hx-target="<tbody/>"
	       hx-swap="innerHTML">
		<thead>
			<tr>
				<th>Speaker</th>
				<th>Title</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody> 	
		</tbody>
	</table>

	<output id="speech-transcript" class={tw.output}></output>



</StarlightPage>

