---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import TabPanel from '../components/tabs/TabPanel.astro'
import TabPanelItem from '../components/tabs/TabPanelItem.astro'


const title = 'TestTabs'

---

<StarlightPage frontmatter={{title: title}}>

	<TabPanel defaultTabId="1">
		<TabPanelItem id="0" caption="Hypermedia" path="/api/readmore/0" trigger="load, click" />
		<TabPanelItem id="1" caption="HTMX" path="/api/readmore/1" />
		<TabPanelItem id="2" caption="Tailwind" path="/api/readmore/2" />
		<TabPanelItem id="3" caption="Hyperscript" path="/api/readmore/3" />
		<TabPanelItem id="4" caption="Astro" path="/api/readmore/4" />
	</TabPanel>


	<ul class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 items-center justify-between bg-slate-200 p-4 border-2 border-indigo-700 border-opacity-20 shadow-md rounded-xl overflow-hidden">
		<li class="w-full h-8 px-4 select-none text-pretty line-clamp-3 antialiased text-sm md:text-md lg:text-xl xl:text-2xl font-semi-bold hover:bg-gray-400 hover:dark:bg-gray-200 lg:font-bold tracking-tighter md:tracking-normal lg:tracking-wider text-gray-900 dark:text-zinc-200 bg-blue-200 dark:bg-gray-900 cursor-pointer rounded-md hover:text-slate-300 hover:dark:text-purple-300 lg:rounded-xl border-2 border-slate-800 dark:border-slate-300 md:text-center md:col-span-2"> Main Title ! </li>
		<li class="w-full h-8 px-4 select-none text-pretty line-clamp-3 antialiased text-sm md:text-md lg:text-xl xl:text-2xl font-semi-bold hover:bg-gray-400 hover:dark:bg-gray-200 lg:font-bold tracking-tighter md:tracking-normal lg:tracking-wider text-gray-900 dark:text-zinc-200 bg-blue-200 dark:bg-gray-900 cursor-pointer rounded-md hover:text-slate-300 hover:dark:text-purple-300 lg:rounded-xl border-2 border-slate-800 dark:border-slate-300"> Hello There ! </li>
		<li class="w-full h-8 px-4 select-none text-pretty line-clamp-3 antialiased text-sm md:text-md lg:text-xl xl:text-2xl font-semi-bold hover:bg-gray-400 hover:dark:bg-gray-200 lg:font-bold tracking-tighter md:tracking-normal lg:tracking-wider text-gray-900 dark:text-zinc-200 bg-blue-200 dark:bg-gray-900 cursor-pointer rounded-md hover:text-slate-300 hover:dark:text-purple-300 lg:rounded-xl border-2 border-slate-800 dark:border-slate-300"> Hello There ! </li>
		<li class="w-full h-8 px-4 select-none text-pretty line-clamp-3 antialiased text-sm md:text-md lg:text-xl xl:text-2xl font-semi-bold hover:bg-gray-400 hover:dark:bg-gray-200 lg:font-bold tracking-tighter md:tracking-normal lg:tracking-wider text-gray-900 dark:text-zinc-200 bg-blue-200 dark:bg-gray-900 cursor-pointer rounded-md hover:text-slate-300 hover:dark:text-purple-300 lg:rounded-xl border-2 border-slate-800 dark:border-slate-300 md:text-center md:col-span-2"> Conclusion ! </li>
	</ul>	

</StarlightPage>

