---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import Searchbox from '../components/search/searchbox.astro'

import { twMerge } from 'tailwind-merge'
const title = 'Test Search'

const tw = {
	wrapper: 'not-content w-full bg-transparent dark:bg-gray-700 py-4'
}

const hs = ``
---

<StarlightPage frontmatter={{title: title}}>
	
<div class={tw.wrapper}}>

	<Searchbox />

</div>

	<h3>A Sampling of Famous Speeches in the English Language</h3>
	<h4>Select a Speech</h4>
	<p>After loading the speech text, you can used the search control to find words within the speech text.
	</p>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Speaker</th>
				<th>Title</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="radio" name="id" value="row7"></td>
				<td>Martin Luther King, Jr</td>
				<td>I Have a Dream</td>
				<td>1962</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row1"></td>
				<td>Abraham Lincoln</td>
				<td>Gettysburg Address</td>
				<td>1861</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row6"></td>
				<td>Winston Churchill</td>
				<td>Fight on the Beaches</td>
				<td>1939</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row6"></td>
				<td>Winston Churchill</td>
				<td>Their Finest Hour</td>
				<td>1940</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row4"></td>
				<td>Carrie Chapman Catt</td>
				<td>Address to Congress </td>
				<td>Nov 4, 1917</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row2"></td>
				<td>Elizabeth I</td>
				<td>Speech to her troops at Tilburry</td>
				<td>1588</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row3"></td>
				<td>Chief Joseph</td>
				<td>Surrender Speech</td>
				<td>1861</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row4"></td>
				<td>Sojourner Truth</td>
				<td>Ain't I a woman?</td>
				<td>1861</td>
			</tr>

			<tr>
				<td><input type="radio" name="id" value="row5"></td>
				<td>King George VI</td>
				<td>Speech to the people Britain</td>
				<td>1939</td>
			</tr>

			<tr>
				<td><input type="radio" name="id" value="row7"></td>
				<td>John F. Kennedy</td>
				<td>Inaugural Address</td>
				<td>1962</td>
			</tr>

			<tr>
				<td><input type="radio" name="id" value="row7"></td>
				<td>Martin Luther King, Jr</td>
				<td>I Have Been to the Mountaintop</td>
				<td>1962</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row7"></td>
				<td>Nelson Mandella</td>
				<td>I Am Prepared to Die</td>
				<td>1962</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row7"></td>
				<td>Abraham Lincoln</td>
				<td>First Inaugural Address</td>
				<td>1864</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row7"></td>
				<td>George Marshall</td>
				<td>Address to Harvard College</td>
				<td>1946</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row7"></td>
				<td>Franklin Delano Roosevelt</td>
				<td>Day of Imfamy Speech</td>
				<td>Dec 8, 1941</td>
			</tr>
			<tr>
				<td><input type="radio" name="id" value="row7"></td>
				<td>Lou Gehrig</td>
				<td>Luckiest Man</td>
				<td>1936</td>
			</tr>
			

		</tbody>
	</table>



</StarlightPage>

