---
interface Props {
	twColor: string
	hexCode:string
	itemStyles?:string
	script?: string
}

import {twMerge} from 'tailwind-merge'
const {twColor, hexCode, itemStyles, script } = Astro.props

const tw = {
	paletteItem: 'size-3 rounded-sm overflow-hidden ring-1 ring-slate-600 hover:scale-125',
}



---

<span script='on click log `You Selected ` + my @title' class={tw.paletteItem + ` bg-${twColor}`} title={`${twColor} (#${hexCode})`}></span>

