---
interface Props {
	twColor: string
	hexCode:string
}

const {twColor, hexCode } = Astro.props

function capitalizeFirstCharacter(str) {
    if (!str) return str;
    return str.charAt(0).toUpperCase() + str.slice(1);
}

const color = capitalizeFirstCharacter(twColor.replace(/^bg-/, ''))

const tw = {
	paletteItem: 'size-3 rounded-sm overflow-hidden ring-1 ring-slate-600 hover:scale-125',
}

---

<span 
	class={`${twColor} ` + tw.paletteItem} title={`${color} (#${hexCode})`}
	script="on click send closeDropdown to the .colorPalette then settle then alert( 'You selected ' + my @title)">
</span>

