---
import PalletGridH from "./PalletGridH.astro"
import PalletGridV from "./PalletGridV.astro"

interface Props {
	orientation?:string
	hs?:string
}

const {orientation = "horizontal", hs} = Astro.props
---

<div >
	{orientation === 'horizontal' ? <PalletGridH hs={hs}/> : <PalletGridV hs={hs}/>}
</div>





